<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
		<link rel="stylesheet" href="css/register.css" />
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			rel="stylesheet"
			id="bootstrap-css"
		/>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->

		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
			rel="stylesheet"
			id="bootstrap-css"
		/>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>

	<body class="bg-default">
		<div class="container register">
			<div class="row">
				<div class="col-md-3 register-left">
					<img
						src="https://image.ibb.co/n7oTvU/logo_white.png"
						alt=""
					/>
					<h3>Welcome.</h3>
					<a href="http://localhost:3000/register"
						><input type="submit" name="" value="Register" /></a
					><br />
				</div>
				<div class="col-md-9 register-right">
					<form method="post" action="/login">
						<div class="tab-content" id="myTabContent">
							<div
								class="tab-pane fade show active"
								id="home"
								role="tabpanel"
								aria-labelledby="home-tab"
							>
								<h3 class="register-heading">Login</h3>
								<div class="row register-form">
									<div class="col-md-6">
										<div class="form-group">
											<input
												type="email"
												class="form-control"
												placeholder="Email *"
												value=""
												name="email"
											/>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<input
												type="password"
												class="form-control"
												placeholder="Password *"
												value=""
												name="password"
											/>
										</div>
										<div class="form-group">
											<input
												type="submit"
												class="btnRegister"
												value="Login"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
